.advantages {
    box-sizing: border-box;
    min-height: 473px;
    padding-top: 70px;
    background-color: #F6F6F6;

    &__header {
        text-align: center;
        margin: 0;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        margin: 65px auto 0 auto;

    }

    &__icon {
        width: 280px;

        img {
            display: block;
            margin: 0 auto;
        }

        &_animated {
            animation: heartbeat 1.5s ease infinite;
            // animation-name: heartbeat;
            // animation-duration: 1.5s;
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;

            &:hover {
                animation-play-state: paused;
            }
        }
    }

    &__descr {
        text-align: center;
        font-size: 14px;
        line-height: 18px;

        h1 {
            font-size: 18px;
            font-weight: 700;
        }
    }
}